
:root {
    --fs-home: clamp(1.5rem, 2vw + 1rem, 5rem);
    --fs-title: clamp(0.8rem, 0.8vw + 0.5rem, 4rem);
    --fs-products: clamp(1rem, 0.8vw + 0.8rem, 1.3rem);
    --fs-app: clamp(0.8rem, 2vw + 1.3rem, 4rem);

    --hex_orange: #E97820;


    --font: 1rem;
    --line: calc(var(--font) * 2);
    --move: calc(-1 * var(--line));

}

html {
    font-size: 62.5;
}

body {
    margin: 0;
    font-family: 'Magra';
    background-color: #F0F2F8;
    font-weight: 700;
}

* {
    width: auto;
    margin: 0;
}

.wrapper {
    max-width: 1500px;
    margin-inline: 0 auto;
}

/* NAVBAR */

nav {
    margin-right: 1em;
   
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    background-color: rgba(44, 90, 177, 0.8);
    position: fixed;
    width: 100%;
    z-index: 100;
}

.list {
    list-style-type: none;
    display: flex;
    gap: 3em;
    margin: 1em;
}

.list a {
    text-decoration: none;
    color:#F0F2F8;
}

.logo {
    display: block;
    max-width:100%;
    opacity: 1;
    margin-left: 0.5em;
}



@media (max-width: 550px){
    .navbar {
        display: none;
    }
}

/* HOME */

.home {
    background-color: #2C5AB1;
    background-image: url(../assets/images/fachada.png);
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 100%;
    padding-bottom: 27%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}  

.home h1 {
    font-family: 'Londrina Solid';
    color:#FFFFFF;
    font-size: var(--fs-home);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.85);
    padding-top: 20%;
    padding-left: 20%;
}

.home p {
    color:#FFFFFF;
    max-width: 90dvh;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.40);
    font-size: var(--fs-title);
    padding-left: 25%;
    padding-top: 1%;
    position: absolute;
    padding-right: 5%;
}

@media( max-width: 700px ){
    
    .home h1 {
        text-align: center;
        padding-left: 0;
        padding-top: 15%;
    }

    .home p{
        padding-left:10%;
        padding-right: 10%;

    }
}

@media( max-width: 500px ){
    
    .home {
        padding-bottom: 30%;
    }

    .home h1 {
        text-align: center;
        padding-left: 0;
        padding-top: 10%;
    }

    .home p{
        text-align: center;

    }

}

/* PRODUCTS */

.products {
    min-height: 30em;
}

.title-section {
    font-family: 'Londrina Solid';
    font-size: var(--fs-home);
    color: rgb(233, 120, 32);
    text-align: center;
    margin-top: 3%;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    justify-content: center;
    margin: 5%;
    margin-top: 3%;
}

.card{
    position: relative;
}

.cards > *{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 21vh;
}

@media (max-width: 813px){
    .cards > * {
        flex-basis: 18vh;
    }
}



.card img{
    max-width: 100%;
}


.card span{
    position: absolute;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    padding-top: 15%;
    padding-bottom: 5%;
    text-align: center;
    font-size: var(--fs-products);
    color:#FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
    background-color: rgba(233, 120, 32, 0.70);
    height: 15%;
    min-width: 100%;
    
}






/* SECTION APP */

.app{
    max-width: 100%;
    min-height: 35em;
    background-image:  url(../assets/bg-wave.svg);
    background-repeat: no-repeat;	    
    background-size: 100%;	
    background-color: #2C5AB1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.second-col {
    margin-top: 15em;
}

.cel {
    margin-top: 7em;
    display: none;
}


.app h1 {
    font-family: 'Londrina Solid';
    color: #FFFFFF;
    font-size: var(--fs-app);
}

.app-text-2 {
    text-indent: 2em;
}

.btns {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}


.btn-google img{
    max-width: 10em;
}

.btn-app img{
    max-width: 9em;
}


@media (max-width: 944px){
    .app{
        display: flex;
        min-height: 10em;
        align-items: center;
        justify-content: center;
    }

    .cel{
        display: none;
    }

    .second-col{
        margin-top:10em;
        padding-bottom: 3em;
    }

}




/* Cards App */

.container{
    background-color: #2C5AB1;
    /* background-color: #245fce; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-wrap: wrap;
    min-height: 30em;
    gap: 2em;
    justify-content: center;
    align-items: center;
    padding-left: 10em;
    padding-right: 10em;
}

.card-app {
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    justify-content: center;
    align-items: center;
    width: 12em;
    height: 11em;
    background-color: rgba(233, 120, 32, 1);
    
    /* background-color: #2c60c0; */
    
}

.card-holder {
    
}

.card-app h2 {
    /* color:#F0F2F8; */
    padding-top: 10%;
    font-family:'Londrina Solid';
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
}

.card-app p{
    padding: 10%;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    
}

@media (max-width: 1006px){
    .container{
        padding-bottom: 5%;
        padding-left: 5em;
        padding-right: 5em;
    }

}




/* CONTACT INFO */

.contact {
    display:flex;
    flex-wrap: wrap;
    gap: 2em;
    /* margin: 2em 3em 3em; */
    padding-top: 5em;
    padding-bottom: 8em;
    align-items: flex-start;
    justify-content: center;

}

.map img{
    max-width: 100%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.30);
}

.info span{
    color: #545454;
    font-size: var(--fs-title);
}

.info div{
    padding-bottom: 5%;
}

.info img{
    vertical-align: middle;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;

}

.social * {
    margin: 0.8em;
    align-items: center;
    max-width: 100%
}

.social img{
    max-width: 4em;
}

.social a {
    text-decoration: none;
}

@media (max-width: 430px){
    
    .contact {
        padding: 2em;
    }

    .social {
        align-items: center;
        justify-content: center;
    }
    
    .social * {
        margin: 0.4em;  
    }

    .social img{
        max-width: 3em;
    }
}




/* FOOTER */

.footer {
    background-color: #2C5AB1;
    padding: 2.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer h5 {
    color:#FFFFFF;
    font-family: 'Alegreya Sans';
}

@media ( max-width: 470px ){
    .footer {
        /* padding-right: 2em;
        padding-left: 2em;
        padding-bottom: 2em; */
        padding: 1.5em;
    }

    .footer img{
        width: 5em;
        height: auto;
    }

    .footer h5{
        font-size: 0.2em;
    }
}